/* ======================================
  CSS Reset
  https://dev.to/hankchizljaw/a-modern-css-reset-6p3
  Box sizing rules
========================================= */
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: var(--fontIBM);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* strip all pre-defined css rules  */
a {
  text-decoration: none !important;
  color: black;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* ======================================
  css reset 2024 END
========================================= */

/* ======================================
  AG TECH CLASS CSS 👇👇👇👇👇👇👇👇
========================================= */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.text-alignment-center {
  text-align: center;
}

.box {
  width: 115px;
  height: 110px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Great Vibes", cursive;
  background-color: #f29982;
  border: 6px solid #FFCABD;
  margin: 30px;
  display: inline-block;
  color: #f7f7f7;
  text-align: center;
  /* Horizontal alignment */
  line-height: 100px;
  /* Vertical alignment */
  border-radius: 50%;
}

* {
  font-family: 'sans-serif';
}

#hero {
  background-image: url("agriculture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100wh;
  height: 50vh;
  display: flex;
}

#hero-text,
#title-text {
  align-items: center;
  border-radius: 20px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ede8e8;
  margin: auto;
  width: 500px;
  padding: 23px;
  font-size: 20px;
  flex-direction: column;
  font-family: 'sans-serif';
}


/* #navbar ul {
  list-style: none;
  display: flex; /* provides horizontal alignment 
  justify-content: space-between;
  padding: 20px;
}

#navbar li {
  margin: 0 8px;
}

#navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
} */

li a:hover {
  background-color: #c38d93;
}

#about {
  padding-top: 20px;
  padding-bottom: 20px;
}

#skills {
  padding-top: 10px;
  padding-bottom: 20px;
}

#contact {
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffcec2;
}

p {
  letter-spacing: 2px;
  margin-left: 40px;
}



/* CSS FOR CASE STUDY PAGE BEGINS HERE */

#title {
  background-image: url("agriculture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100wh;
  height: 50vh;
  display: flex;
}

/* MEDIA QUERIES */




@media all and (max-width: 576px) {
  #about {
    color: #464343;
  }
}

@media all and (max-width: 768px) {
  #skills {
    color: #413e3e;
  }

  .menu-toggle {
    display: flex;
  }

  #navbar ul {
    display: none;
    background-color: white;
    flex-direction: column;
    /* Stack the links vertically */
    text-align: center;
    /* Center-align the links */
    position: absolute;
    /* Position it above the content */
    top: 50px;
    /* Adjust the top position as needed */
    right: 0;
    /* Position it to the right */
    z-index: 1;
    /* Ensure it's on top of other elements */
  }

  #navbar ul.active {
    display: flex;
    /* Show the navigation links when active class is added */
  }
}

@media all and (max-width: 992px) {
  #contact {
    color: #2d2a2a;
  }
}

@media all and (max-width: 1200px) {
  #footer {
    color: #222020;
  }
}

/*=========================================
  Plant Identifier browse button
/* ======================================*/
.custom-file {
  position: relative;
  display: inline-block;
}

.custom-file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.custom-file-label {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #0F6EFD;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
}

.custom-file-label::after {
  content: "Upload";
}

.custom-file-input:valid+.custom-file-label::after {
  content: "File uploaded!";
}

.custom-file-input:focus+.custom-file-label,
.custom-file-input.has-focus+.custom-file-label {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#title-case {
  font-size: 60px;
}

.project {

  background-color: #ffe6e6;
  display: flex;
  width: 90%;
  height: 300px;
  align-items: center;
  margin: 30px auto;
  padding: 30px;
  /* box-shadow: 0 40px 8px rgba(0,0,0,0.1); */
  flex-direction: row;
}

.project img {
  margin-left: 10px;
  width: 200px;
  height: 220px;
  margin-right: 30px;
  border-radius: 6px;
}

.container-fluid img {
  margin-left: 30px;
  width: 140px;
  height: 40px;
  margin-right: 20px;
  border-radius: 6px;
}

.project-details {
  flex: 1;
  margin-left: 20px;
  font-family: 'sans-serif', cursive;
  color: #979191;
  /* font-family: 'sans-serif'; */
}

.project-details p {
  color: #979191;
  font-family: "Great Vibes", cursive;
  /* font-family: 'sans-serif'; */
}

.project-details a {
  /* color: #d9afaf; */
  color: #ff474c;
}

.button-case {
  text-decoration: none;
  border: 1px solid #7d4545;
  padding: 6px 9px 6px 9px;
  color: #ff474c;
}


form {
  border: 1px solid #333;
  padding: 40px;
  max-width: 30px;
  margin: 0 auto;
  border: none;

}

.input-group {
  display: flex;
  margin-bottom: 10px;
}

label {
  width: 100px;
}

input,
select,
textarea {
  flex: 1;
  padding: 3px 5px;
}

.submit-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  width: 100px;
  margin: 0 auto;
  text-decoration: none;
  border: 3px solid #e68989;
  padding: 6px 10px 1px 9px;
  background-color: #ffffff;
  color: #443b3b;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.heroTextPammi {
  color: white;
  font-weight: bold;
}

.customButtonColorPammi {
  background-color: #e28a74 !important;
  border: 6px solid #FFCABD !important;
  width: 300px;
  height: 50px;
}

.container-header img {
  margin-left: 30px;
  width: 140px;
  height: 40px;
  margin-right: 20px;
  border-radius: 6px;

}

@media (min-width: 420px) {
  .container header img {
    max-width: 100%;
    display: inline-block;
  }
}


#mc_embed_signup {
  background: #fff;
  false;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 650px;
}

/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */


ol {
  text-decoration: none;
  /* color: #e28a74;  */
}

ol li a {
  /* text-decoration: underline dotted; */
  color: #e28a74;
}

#roman-list {
  list-style-type: upper-roman;
  padding: 40;

}


#container-case {
  padding: 40px;
  color: darkslategrey;
  font-family: 'Arial', sans-serif;
  margin: 40px;

}

#container-case p {
  font-size: 16px;
  font-weight: 450;
  line-height: 1.2;
  margin-bottom: 15px;

}

.col {
  float: left;
  width: 50%;
  padding: 5px;

}

.col img {
  height: 600px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}


#socials {
  text-align: center;
}

#social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}



#casestudy1 {
  background-image: url("farm1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100wh;
  height: 70vh;
  display: flex;
}

#casestudy2 {
  background-image: url("farm1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100wh;
  height: 70vh;
  display: flex;
}

#casestudy3 {
  background-image: url("farm1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100wh;
  height: 70vh;
  display: flex;
}

#hero-text, #title-text {
  align-items: center;
  border-radius: 30px;
  display: flex;
  background-color: rgb(49, 48, 48, 0.7);
  color: #fdfcfc;
  margin: auto;
  width: 700px;
  padding: 23px;
  font-size: 20px;
  flex-direction: column;
}


h2 {
  text-align: center;
}